Renovate job: Repository has invalid config

### How are you running Renovate?

WhiteSource Renovate hosted app on github.com

### If you're self-hosting Renovate, tell us what version of Renovate you run.

_No response_

### Please select which platform you are using if self-hosting.

_No response_

### If you're self-hosting Renovate, tell us what version of the platform you run.

_No response_

### Was this something which used to work for you, and then stopped?

It used to work, and then stopped

### Describe the bug

I have configuration:
```
{
  "prConcurrentLimit": "1",
  "branchPrefix": "renovate/",
  "additionalBranchPrefix": "{{parentDir}}-",
  "commitMessagePrefix": " ",
  "extends": [
    "config:base"
  ],
  "assignees": [
  ],
  "assigneesSampleSize": 2
}
```

and uses Renovate bot Github action validation (validation is ok):
```
jobs:
  validate-renovate:
    name: Validate renovate configuration
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Validate
        uses: rinchsan/renovate-config-validator@v0.0.0
        with:
          pattern: 'renovate.json'
```

but there is a bug in Renovate job:
```
{
  "error": {
    "validationSource": "renovate.json",
    "validationError": "Invalid JSON (parsing failed)",
    "validationMessage": "Syntax error near \",\n  ],\n  ",
    "message": "config-validation",
    "stack": "Error: config-validation\n    at checkForRepoConfigError (/home/ubuntu/renovateapp/node_modules/renovate/dist/workers/repository/init/merge.js:144:19)\n    at mergeRenovateConfig (/home/ubuntu/renovateapp/node_modules/renovate/dist/workers/repository/init/merge.js:163:5)\n    at async getRepoConfig (/home/ubuntu/renovateapp/node_modules/renovate/dist/workers/repository/init/config.js:15:14)\n    at async initRepo (/home/ubuntu/renovateapp/node_modules/renovate/dist/workers/repository/init/index.js:26:14)\n    at async Object.renovateRepository (/home/ubuntu/renovateapp/node_modules/renovate/dist/workers/repository/index.js:37:18)\n    at async renovateRepository (/home/ubuntu/renovateapp/app/worker/index.js:427:26)\n    at async /home/ubuntu/renovateapp/app/worker/index.js:678:5"
  }
}
```

### Relevant debug logs

<details><summary>Logs</summary>

```
DEBUG: No dangling containers to remove
INFO: Repository started
{
  "renovateVersion": "32.15.0"
}
DEBUG: Using localDir: /mnt/renovate/gh/**trimmed**
DEBUG: Repository cache is valid
DEBUG: initRepo("**trimmed**")
DEBUG: Overriding default GitHub endpoint
{
  "endpoint": "https://api.github.com/"
}
DEBUG: **trimmed** default branch = main
DEBUG: Using app token for git init
DEBUG: resetMemCache()
DEBUG: Resetting npmrc
DEBUG: detectSemanticCommits()
DEBUG: checkOnboarding()
DEBUG: isOnboarded()
DEBUG: Checking cached config file name
DEBUG: Existing config file no longer exists
DEBUG: findFile(renovate.json)
DEBUG: Initializing git repository into /mnt/renovate/gh/**trimmed**
DEBUG: Performing blobless clone
DEBUG: git clone completed
{
  "durationMs": 1704
}
DEBUG: latest repository commit
{
  "latestCommit": {
    "hash": "8d372f835b6ef89ec120830b43b124e6818ec877",
    "date": "2022-04-07T11:25:51+02:00",
    "message": "**trimmed**",
    "refs": "HEAD -> main, origin/main, origin/HEAD",
    "body": "",
    "author_name": "**trimmed**",
    "author_email": "**trimmed**"
  }
}
DEBUG: Config file exists
{
  "fileName": "renovate.json"
}
INFO: Cannot ensure issue because issues are disabled in this repository
DEBUG: Repo is onboarded
DEBUG: Found renovate.json config file
INFO: Repository has invalid config
{
  "error": {
    "validationSource": "renovate.json",
    "validationError": "Invalid JSON (parsing failed)",
    "validationMessage": "Syntax error near \",\n  ],\n  ",
    "message": "config-validation",
    "stack": "Error: config-validation\n    at checkForRepoConfigError (/home/ubuntu/renovateapp/node_modules/renovate/dist/workers/repository/init/merge.js:144:19)\n    at mergeRenovateConfig (/home/ubuntu/renovateapp/node_modules/renovate/dist/workers/repository/init/merge.js:163:5)\n    at async getRepoConfig (/home/ubuntu/renovateapp/node_modules/renovate/dist/workers/repository/init/config.js:15:14)\n    at async initRepo (/home/ubuntu/renovateapp/node_modules/renovate/dist/workers/repository/init/index.js:26:14)\n    at async Object.renovateRepository (/home/ubuntu/renovateapp/node_modules/renovate/dist/workers/repository/index.js:37:18)\n    at async renovateRepository (/home/ubuntu/renovateapp/app/worker/index.js:427:26)\n    at async /home/ubuntu/renovateapp/app/worker/index.js:678:5"
  }
}
DEBUG: raiseConfigWarningIssue()
DEBUG: getBranchPr(renovate/configure)
DEBUG: findPr(renovate/configure, undefined, open)
DEBUG: Retrieving PR list
DEBUG: Retrieved 6 Pull Requests
DEBUG: findPr(renovate/configure, undefined, closed)
DEBUG: ensureIssue(Action Required: Fix Renovate Configuration)
INFO: Cannot ensure issue because issues are disabled in this repository
DEBUG: Repository timing splits (milliseconds)
{
  "splits": {},
  "total": 4531
}
DEBUG: http statistics
{
  "urls": {
    "https://api.github.com/graphql (POST)": 1,
    "https://api.github.com/repos/**trimmed**/contents/renovate.json (GET)": 1,
    "https://api.github.com/repos/**trimmed**/pulls (GET)": 1
  },
  "hostStats": {
    "api.github.com": {
      "requestCount": 3,
      "requestAvgMs": 547,
      "queueAvgMs": 0
    }
  },
  "totalRequests": 3
}
INFO: Repository finished
{
  "durationMs": 4531
}```

</details>


### Have you created a minimal reproduction repository?

No reproduction repository

Hello, we have private repository, I can grant you access if you need to 
check renovate bot.


Dne 08. 04. 22 v 13:10 github-actions[bot] napsal(a):
>
> Hi there,
>
> Help us by making a minimal reproduction repository.
>
> Before we can start work on your issue we first need to know exactly 
> what's causing the current behavior. A minimal reproduction helps us 
> with this.
>
> To get started, please read our guide on creating a minimal 
> reproduction 
> <https://github.com/renovatebot/renovate/blob/main/docs/development/minimal-reproductions.md> 
> to understand what is needed.
>
> We may close the issue if you (or someone else) have not provided a 
> minimal reproduction within two weeks. If you need more time, or are 
> stuck, please ask for help or more time in a comment.
>
> Good luck,
>
> The Renovate team
>
> —
> Reply to this email directly, view it on GitHub 
> <https://github.com/renovatebot/renovate/issues/15022#issuecomment-1092748963>, 
> or unsubscribe 
> <https://github.com/notifications/unsubscribe-auth/AT7BMGI654EEKJRO45F7TQDVEAHY5ANCNFSM5S4G2YIA>.
> You are receiving this because you authored the thread.Message ID: 
> ***@***.***>
>

-- 

BEZPEČNOSTNÍ UPOZORNĚNÍ:
Obsah tohoto e-mailu a jeho jakékoli přílohy je 
určen pouze uvedenému adresátovi (adresátům) a může obsahovat informace a 
skutečnosti, jež jsou předmětem důvěrných informací společnosti Economia, 
a.s. a jako takové musí být chráněny před vyzrazením. Pokud nejste 
zamýšleným adresátem této zprávy nebo Vám byla tato zpráva zaslána omylem, 
prosíme o upozornění odesílatele na tuto skutečnost a její bezodkladné 
vymazání včetně všech příloh. Zároveň Vás v takovém případě upozorňujeme, 
že jakékoli další použití, přeposílání, kopírování a ukládání této zprávy 
nebo jejího obsahu a příloh je přísně zapovězeno a bude řešeno právní 
cestou.

CONFIDENTIALITY NOTICE:
The contents of this e-mail message and 
any attachments are intended solely for the addressee(s) and may contain 
confidential and/or privileged information owned by Economia, a.s. and may 
be legally protected from disclosure. If you are not the intended recipient 
of this message or their agent, or if this message has been addressed to 
you in error, please immediately alert the sender by reply e-mail and then 
delete this message and any attachments. If you are not the intended 
recipient, you are hereby notified that any use, dissemination, copying, or 
storage of this message or its attachments is strictly prohibited.


It looks like you have a trailing comma in an array. Also looks like you took out the assignees content when you copy pasted here, so maybe that's the culprit?

Thank you @rarkins - after removing trailing comma from assignees array its working now :-) But this behavior is strange - trailing comma is valid JSON with [RFC 8259](https://datatracker.ietf.org/doc/html/rfc8259), [RFC 7159](https://datatracker.ietf.org/doc/html/rfc7159), [RFC 4627](https://datatracker.ietf.org/doc/html/rfc4627) and also with ECMA-404. When I use schema validator like https://jsonformatter.curiousconcept.com/ there is valid JSON....

I don't think it's valid JSON, including in the first RFC you listed 